@{
    ViewBag.Title = "Home Page";
}

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/add.js")"></script>
@*<h1 >通风预测系统简介</h1>*@
<div align="center"><img  src="../../Images/4.bmp" /></div>
@* <input type="button" onclick="showTable('dataTable');" value="求平均值"/>
 <form name="myform">  
   out<input type="text" name="outpingju" id="nn" />  
   in<input type="text" name="inpingju" id="nn" />  
   flow<input type="text" name="flowpingju" id="nn" />  
  </form>  
<p>
 <form name="yourform">  
<table  id="dataTable" >
        <tr>
        <th>name</th>
        <th>out</th>
        <th>in</th>
        <th>flow</th>
        </tr>
        <tr>
          <td><input type="text" name="name0" value="第1组数据" /></td>
          <td><input type="text" name="out0" value=0 /></td>
          <td><input type="text" name="in0" value=0 /></td>
          <td><input type="text" name="flow0" value=0 /></td>
        </tr>
</table>
  </form>  
<button id="addcol" class="btn btn-info">添加</button>
</p>
*@